/*--------------------Phones------------------------*/
* {
    margin: 0;
    padding: 0;
}

header {
    padding: 0%;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: rgb(242, 242, 242);
}

.container {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(242, 242, 242);
}

.logo-background {
    width: 100%;
    font-size: 3rem;
    color: #333;
    text-align: center;
    display: block;
    align-items: center;

}

/*--------------------------------------socila-icons-----------------------------------*/

.social-icons {
    position: absolute;
    top: 10px;
    right: 10px;
}

.social-icons a {
    margin: 0 10px;
    display: inline-block;
}

.social-icons img {
    width: 25px;
    height: 25px;
}

/*---------------------------------------button-home-------------------------------*/

.button-home {
    position: absolute;
    top: 10px;
    left: 10px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
}

/*----------------------------------------f1-----------------------------------------*/



.f1-table {
    width: 100%;
    max-width: 1200px;
    border-collapse: separate; /* Cambiado para separar bordes */
    border-spacing: 0; /* Elimina el espacio extra entre celdas */
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.f1-table th, .f1-table td {
    border: 2px solid #ddd; /* Bordes m치s visibles */
    padding: 10px;
    vertical-align: top;
    background-color: #fff;
}

.f1-table th {
    background-color: #e9ecef;
    font-weight: bold;
    text-align: center;
}

.f1-table td {
    font-size: 0.9em;
}

.circuit-map {
    width: 100%;
    height: auto;
    max-width: 200px;
}

.flag {
    width: 20px;
    height: 12px;
    vertical-align: middle;
    margin-right: 5px;
}

.highlight {
    color: #f50800;
    font-weight: bold;
}

.link {
    color: #007bff;
    text-decoration: none;
}

.link:hover {
    text-decoration: underline;
}

/*---------------------tablets----------------------*/
@media only screen and (min-width: 600px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        padding: 0%;
    }
    
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: rgb(242, 242, 242);
    }
    
    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(242, 242, 242);
    }
    
    .logo-background {
        width: 100%;
        font-size: 3rem;
        color: #333;
        text-align: center;
        display: block;
        align-items: center;
    
    }
    
    /*--------------------------------------social-icons-----------------------------------*/
    
    .social-icons {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .social-icons a {
        margin: 0 10px;
        display: inline-block;
    }
    
    .social-icons img {
        width: 25px;
        height: 25px;
    }
    
    /*---------------------------------------button-home-------------------------------*/
    
    .button-home {
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }
    
    /*----------------------------------------f1-----------------------------------------*/
    
    
    
    .f1-table {
        width: 100%;
        max-width: 1200px;
        border-collapse: separate; /* Cambiado para separar bordes */
        border-spacing: 0; /* Elimina el espacio extra entre celdas */
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .f1-table th, .f1-table td {
        border: 2px solid #ddd; /* Bordes m치s visibles */
        padding: 10px;
        vertical-align: top;
        background-color: #fff;
    }
    
    .f1-table th {
        background-color: #e9ecef;
        font-weight: bold;
        text-align: center;
    }
    
    .f1-table td {
        font-size: 0.9em;
    }
    
    .circuit-map {
        width: 100%;
        height: auto;
        max-width: 200px;
    }
    
    .flag {
        width: 20px;
        height: 12px;
        vertical-align: middle;
        margin-right: 5px;
    }
    
    .highlight {
        color: #f50800;
        font-weight: bold;
    }
    
    .link {
        color: #007bff;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
}

/*-----------------------tablets-horizontales-------------------------*/

@media only screen and (min-width: 768px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        padding: 0%;
    }
    
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: rgb(242, 242, 242);
    }
    
    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(242, 242, 242);
    }
    
    .logo-background {
        width: 100%;
        font-size: 3rem;
        color: #333;
        text-align: center;
        display: block;
        align-items: center;
    
    }
    
    /*--------------------------------------social-icons-----------------------------------*/
    
    .social-icons {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .social-icons a {
        margin: 0 10px;
        display: inline-block;
    }
    
    .social-icons img {
        width: 25px;
        height: 25px;
    }
    
    /*---------------------------------------button-home-------------------------------*/
    
    .button-home {
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }
    
    /*----------------------------------------f1-----------------------------------------*/
    
    
    
    .f1-table {
        width: 100%;
        max-width: 1200px;
        border-collapse: separate; /* Cambiado para separar bordes */
        border-spacing: 0; /* Elimina el espacio extra entre celdas */
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .f1-table th, .f1-table td {
        border: 2px solid #ddd; /* Bordes m치s visibles */
        padding: 10px;
        vertical-align: top;
        background-color: #fff;
    }
    
    .f1-table th {
        background-color: #e9ecef;
        font-weight: bold;
        text-align: center;
    }
    
    .f1-table td {
        font-size: 0.9em;
    }
    
    .circuit-map {
        width: 100%;
        height: auto;
        max-width: 200px;
    }
    
    .flag {
        width: 20px;
        height: 12px;
        vertical-align: middle;
        margin-right: 5px;
    }
    
    .highlight {
        color: #f50800;
        font-weight: bold;
    }
    
    .link {
        color: #007bff;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
}


@media only screen and (min-width: 992px) {
    * {
        margin: 0;
        padding: 0;
    }
    
    header {
        padding: 0%;
    }
    
    body {
        font-family: Arial, sans-serif;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        background-color: rgb(242, 242, 242);
    }
    
    .container {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(242, 242, 242);
    }
    
    .logo-background {
        width: 100%;
        font-size: 3rem;
        color: #333;
        text-align: center;
        display: block;
        align-items: center;
    
    }
    
    /*--------------------------------------social-icons-----------------------------------*/
    
    .social-icons {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    .social-icons a {
        margin: 0 10px;
        display: inline-block;
    }
    
    .social-icons img {
        width: 25px;
        height: 25px;
    }
    
    /*---------------------------------------button-home-------------------------------*/
    
    .button-home {
        position: absolute;
        top: 10px;
        left: 10px;
        margin: 0 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1rem;
    }
    
    /*----------------------------------------f1-----------------------------------------*/
    
    
    
    .f1-table {
        width: 100%;
        max-width: 1200px;
        border-collapse: separate; /* Cambiado para separar bordes */
        border-spacing: 0; /* Elimina el espacio extra entre celdas */
        background-color: #fff;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    }
    
    .f1-table th, .f1-table td {
        border: 2px solid #ddd; /* Bordes m치s visibles */
        padding: 10px;
        vertical-align: top;
        background-color: #fff;
    }
    
    .f1-table th {
        background-color: #e9ecef;
        font-weight: bold;
        text-align: center;
    }
    
    .f1-table td {
        font-size: 0.9em;
    }
    
    .circuit-map {
        width: 100%;
        height: auto;
        max-width: 200px;
    }
    
    .flag {
        width: 20px;
        height: 12px;
        vertical-align: middle;
        margin-right: 5px;
    }
    
    .highlight {
        color: #f50800;
        font-weight: bold;
    }
    
    .link {
        color: #007bff;
        text-decoration: none;
    }
    
    .link:hover {
        text-decoration: underline;
    }
}


@media only screen and (min-width: 1200px) {
    /*pantallas muy grandes*/
}

/*-----------------------------------wrc-------------------------------------*/

