/*-------------------menu-superior-------------------------*/
/* Variables para colores */
:root {
    --background-color: #121212;
    --highlight-color: #ff007f;
    --button-color: #0073e6;
    --button-hover-color: #005bb5;
    --text-color: #ffffff;
    --font-family: Arial, sans-serif;
    --container-background: rgb(242, 242, 242);
}

/*------------------------------------------------------*/
    header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: var(--background-color);
    flex-wrap: wrap; /* Permite que los elementos se ajusten en pantallas pequeñas */
}

/* Logo */
.logo h1 {
    color: var(--text-color);
    font-size: 2rem;
    font-weight: bold;
}

.logo span {
    color: var(--highlight-color);
}

/* Navegación */
nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
    flex-wrap: wrap; /* Asegura que los elementos de navegación se ajusten bien en pantallas pequeñas */
}

nav ul li {
    position: relative;
}

nav ul li a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover,
nav ul li a:focus,
nav ul li a.active {
    color: var(--highlight-color);
}